.bi:hover {
  color: red;
  cursor: pointer;
}


.trow {
  transition: transform .2s;
}

  .trow:hover {
    cursor: pointer;
    transform: scale(1.03);

  }
body, html {
  min-height: 100%;
  height: 100%;
}

.mycheckbox {
  background-color: #198754 !important;
  border-color: #198754 !important;
}
