<h1 id="tableLabel">HamEvent QSOs</h1>


<app-upload [eventId]="eventId" [eventsecret]="eventsecret"></app-upload>

<p *ngIf="!loaded"><em>{{'Loading...' | translate}}</em></p>

<div [formGroup]="searchForm">
  <input placeholder="Search " formControlName="search" />
  <button (click)="submitForm()">{{'Search' | translate}}</button>
  <button *ngIf='qualifiesForDiploma()' (click)="genPdf()">{{'Download Diploma' | translate}}</button>
</div>
<p *ngIf="loaded && !QSOs?.length"><em>{{'No entries...' | translate}}</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="QSOs.length">
  <thead>
    <tr>
      <th>{{'Callsign 1' | translate}}</th>
      <th>{{'Callsign 2' | translate}}</th>
      <!--<th>RST1</th>
      <th>RST2</th>-->
      <th>{{'Mode' | translate}}</th>
      <th>{{'Band' | translate}}</th>
      <th>{{'Timestamp' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let QSO of QSOs">
      <td>{{ QSO.callsign1 }}</td>
      <td>{{ QSO.callsign2 }}</td>
      <!--<td>{{ QSO.rst1 }}</td>
      <td>{{ QSO.rst2 }}</td>-->
      <td>{{ QSO.mode }}</td>
      <td>{{ QSO.band }}</td>
      <td>{{ QSO.timestamp }}</td>
    </tr>
  </tbody>
</table>
