<div class="px-4 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis" *ngIf="event">{{event.name}}</h1>
  <div class="col mx-auto">
    <p *ngIf="event">{{event.description}}</p>
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tableMenu" aria-controls="tableMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="tableMenu">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <app-upload [eventId]="eventId" [eventsecret]="eventSecret" (onUploadFinished)="uploadFinished($event)"></app-upload>
            </li>
            <li class="nav-item">
              <button class="btn btn-link" (click)="edit()">{{'Edit Event' | translate}}</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-link" (click)="top()">{{'Event Top' | translate}}</button>
            </li>
          </ul>
          <form role="search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
            <div class="input-group mb-3">
              <input type="search" class="form-control" placeholder="{{'Callsign 2' | translate}}" formControlName="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="submitForm()">{{'Search' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>


    <div class="py-4 d-flex justify-content-center">
      <button *ngIf='qualifiesForDiploma()' class="btn btn-outline-success" (click)="genPdf()">{{'Download Diploma' | translate}}</button>
    </div>

    <p *ngIf="loaded && !QSOs?.length"><em>{{'No entries...' | translate}}</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="QSOs.length">
      <thead>
        <tr>
          <th>{{'Callsign 1' | translate}}</th>
          <th>{{'Callsign 2' | translate}}</th>
          <!--<th>RST1</th>
          <th>RST2</th>-->
          <th>{{'Mode' | translate}}</th>
          <th>{{'Band' | translate}}</th>
          <th>{{'Timestamp' | translate}}</th>
          <th>{{'Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let QSO of QSOs
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
          <td>{{ QSO.callsign1 }}</td>
          <td>{{ QSO.callsign2 }}</td>
          <td>{{ QSO.mode }}</td>
          <td>{{ QSO.band }}</td>
          <td>{{ QSO.timestamp }}</td>
          <td> <i class="bi bi-trash" (click)="delete(QSO)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev"
                           nextLabel="Next"
                           (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>

</div>

