<div class="px-4 text-center border-bottom">

  <h1 class="display-4 fw-bold text-body-emphasis" *ngIf="event">{{event.name}}</h1>
  <div class="col mx-auto">
    <p *ngIf="event">{{event.description}}</p>


    <p *ngIf="!Operators?.length"><em>{{'No entries...' | translate}}</em></p>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Operators.length">
      <thead>
        <tr>
          <th>{{'Callsign' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operator of Operators">
          <td>{{ operator.callsign }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="QSOs.length">
      <thead>
        <tr>
          <th>{{'Callsign 1' | translate}}</th>
          <th>{{'Callsign 2' | translate}}</th>
          <!--<th>RST1</th>
          <th>RST2</th>-->
          <th>{{'Mode' | translate}}</th>
          <th>{{'Band' | translate}}</th>
          <th>{{'Timestamp' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let QSO of QSOs">
          <td>{{ QSO.callsign1 }}</td>
          <td>{{ QSO.callsign2 }}</td>
          <td>{{ QSO.mode }}</td>
          <td>{{ QSO.band }}</td>
          <td>{{ QSO.timestamp }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

