<div class="row" style="margin-bottom:15px;">
  <p *ngIf="!event"><em>{{'Loading...' | translate}}</em></p>
  <form *ngIf="event">
    <div class="mb-3">
      <label for="name" class="form-label">{{'Name' | translate}}</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="event.name" name="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">{{'Description' | translate}}</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="event.description" name="description">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">{{'Email' | translate}}</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="event.email" name="email">
    </div>
    <div class="mb-3">
      <label for="diploma" class="form-label">{{'Diploma' | translate}}</label>
      <textarea rows="10" style="height:100%;" class="form-control" id="diploma" [(ngModel)]="event.diploma" name="diploma"></textarea>
    </div>
    <div class="mb-3">
      <label for="hastop" class="form-label">{{'HasTop' | translate}}</label>
      <input type="checkbox" class="form-check-input" id="hastop" [(ngModel)]="event.hasTop" name="hastop">
    </div>
    <div class="mb-3">
      <label for="ExcludeCallsigns" class="form-label">{{'ExcludeCallsignsFromTop' | translate}}</label>
      <input type="text" class="form-control" id="ExcludeCallsigns" [(ngModel)]="event.excludeCallsigns" name="ExcludeCallsigns">
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">{{'Start date' | translate}}</label>
      <input type="datetime" class="form-control" id="startDate" [ngModel]="event.startDate | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="event.startDate = $event" name="startDate">
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">{{'End date' | translate}}</label>
      <input type="datetime" class="form-control" id="endDate" [ngModel]="event.endDate | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="event.endDate = $event" name="endDate">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{event.id==='00000000-0000-0000-0000-000000000000' ? 'Add' : 'Update' | translate}}</button>
    <div [innerHtml]="event.diploma | sanitizedHtml" width="842" height="595"></div>

  </form>
</div>
