<div class="px-4 text-center border-bottom">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink ="/Home">{{'Home' | translate}}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink ="/Events">{{'HamEvents' | translate}}</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="event">{{event.name}}</li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="event">{{'QSOs' | translate}}</li>
      <li class="breadcrumb-item" aria-current="page" *ngIf="event"><a href="#" (click)="top();$event.preventDefault()">{{'Event Top' | translate}}</a></li>
    </ol>
  </nav>
  <h1 class="display-4 fw-bold text-body-emphasis" *ngIf="event">{{event.name}}</h1>
  <div class="col mx-auto">
    <p *ngIf="event">{{event.description}}</p>
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tableMenu" aria-controls="tableMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-items-center justify-content-center" id="tableMenu">
          <form role="search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
            <div class="input-group mb-3">
              <input type="search" class="form-control" placeholder="{{'Callsign 2' | translate}}" formControlName="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="submitForm()" [attr.disabled]="searchIsValid()?null:true" >{{'Search' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="py-4 d-flex justify-content-center">

      <div class="card trow btn btn-outline-success" style="width: 18rem;" *ngIf='qualifiesForDiploma()' (click)="genPdf()">
        <div class="card-body">
          <h5 class="card-title">{{'Download Diploma' | translate}}</h5>
          <div class="form-check">
            <input class="form-check-input mycheckbox" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              {{'At least 1 QSO' | translate}}
            </label>
          </div>
        </div>
      </div>

    </div>

    <p *ngIf="loaded && !QSOs?.length"><em>{{'No entries...' | translate}}</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="QSOs.length">
      <thead>
        <tr>
          <th>{{'Callsign 1' | translate}}</th>
          <th>{{'Callsign 2' | translate}}</th>
          <!--<th>RST1</th>
          <th>RST2</th>-->
          <th>{{'Mode' | translate}}</th>
          <th>{{'Band' | translate}}</th>
          <th>{{'Timestamp' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let QSO of QSOs
          | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count,
                id :'qsos'
              };
        let i = index">
          <td>{{ QSO.callsign1 }}</td>
          <td>{{ QSO.callsign2 }}</td>
          <td>{{ QSO.mode }}</td>
          <td>{{ QSO.band }}</td>
          <td>{{ QSO.timestamp }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls id="qsos" previousLabel="{{'Prev' | translate}}"
                           nextLabel="{{'Next' | translate}}"
                           (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>

</div>

