
<div class="px-4 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">{{'HamEvents' | translate}}</h1>
  <div class="col-lg-10 mx-auto">
    <p *ngIf="!loaded"><em>{{'Loading...' | translate}}</em></p>

    <p *ngIf="loaded && !Events?.length"><em>{{'No entries...' | translate}}</em></p>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Events.length">
      <thead>
        <tr>
          <th>{{'Name' | translate}}</th>
          <th>{{'Start date' | translate}}</th>
          <th>{{'Description' | translate}}</th>
          <th>{{'Days' | translate}}</th>
          <th>{{'First QSO' | translate}}</th>
          <th>{{'Last QSO' | translate}}</th>
          <th>{{'QSOs count' | translate}}</th>
          <th>{{'Uniques' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let event of Events
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" (click)="gotoEvent(event)" class="trow">
          <td>{{ event.name }}</td>
          <td>{{ event.startDate | date: "dd.MM.yyyy HH:mm":"+0000" }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.days }}</td>
          <td>{{ event.first }}</td>
          <td>{{ event.last }}</td>
          <td>{{ event.count }}</td>
          <td>{{ event.unique }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev"
                           nextLabel="Next"
                           (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>

