<h1 id="tableLabel">{{'HamEvents' | translate}}</h1>

<p *ngIf="!loaded"><em>{{'Loading...' | translate}}</em></p>

<p *ngIf="loaded && !Events?.length"><em>{{'No entries...' | translate}}</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Events.length">
  <thead>
    <tr>
      <th>{{'Id' | translate}}</th>
      <th>{{'Name' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of Events" (click)="gotoEvent(event)">
      <td>{{ event.id }}</td>
      <td>{{ event.name }}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
