<div class="px-4 text-center border-bottom">

  <h1 class="display-4 fw-bold text-body-emphasis" *ngIf="event">{{event.name}}</h1>
  <div class="col mx-auto">
    <p *ngIf="event">{{event.description}}</p>
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tableMenu" aria-controls="tableMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="tableMenu">
          <form role="search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
            <div class="input-group mb-3">
              <input type="search" class="form-control" placeholder="{{'Callsign 2' | translate}}" formControlName="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="submitForm()">{{'Search' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <p *ngIf="loaded && !Top?.length"><em>{{'No entries...' | translate}}</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Top.length">
      <thead>
        <tr>
          <th>{{'Callsign 2' | translate}}</th>
          <th>{{'Points' | translate}}</th>
          <th>{{'Mode' | translate}}</th>
          <th>{{'Band' | translate}}</th>
          <th>{{'QSOs' | translate}}</th>
          <th>{{'Rank' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let Participant of Top
          | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count,
            id :'top'
              };
        let i = index" [ngClass]="{'trow':qualifiesForDiploma()}" (click)="qualifiesForDiploma()?genPdf():''">
          <td>{{ Participant.callsign }}</td>
          <td>{{ Participant.points }}</td>
          <td>{{ Participant.mode }}</td>
          <td>{{ Participant.band }}</td>
          <td>{{ Participant.count }}</td>
          <td>{{ Participant.rank }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls id="top" previousLabel="{{'Prev' | translate}}"
                           nextLabel="{{'Next' | translate}}"
                           (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>

</div>

