<div class="footer-container">
  <!-- Left Side Text -->
  <div class="footer-left">
    <span>© {{ 'Copyright' | translate:{ year: currentYear } }}</span>
  </div>

  <!-- Right Side Texts (Wrapper) -->
  <div class="footer-right">
    <a href="http://yo2kqt.ro" target="_blank">yo2kqt.ro</a>
    <a href="https://github.com/bogdanbrudiu/HamSpecialEvent" target="_blank"><img style="vertical-align: middle;" width="40" height="40" alt="GitHub Logomark" class="height-auto" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"></a>
  </div>
</div>
