<div class="px-4 text-center border-bottom">
  <p *ngIf="!event"><em>{{'Loading...' | translate}}</em></p>
  <h1 class="display-4 fw-bold text-body-emphasis" *ngIf="event">{{event.name}}</h1>
  <div class="col mx-auto" *ngIf="event">
    <p [innerHTML]="event.description"></p>
  
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="topnavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <app-upload [eventId]="eventId" [eventsecret]="eventSecret" (onUploadFinished)="uploadFinished($event)"></app-upload>
            </li>
            <li class="nav-item">
              <a routerLink="." class="nav-link" (click)="edit()">{{'Edit Event' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="event && event.hasTop">
              <a routerLink="." class="nav-link" (click)="top()">{{'Event Top' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="event && isLive">
              <a routerLink="." class="nav-link" (click)="live()">{{'Live' | translate}}</a>
            </li>
            <li class="nav-item">
              <a routerLink="." class="nav-link" (click)="deleteall()">{{'Delete all QSOs' | translate}}</a>
            </li>
            <li class="nav-item">
              <a routerLink="." class="nav-link" (click)="exportall()">{{'Export all QSOs' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tableMenu" aria-controls="tableMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-items-center justify-content-center" id="tableMenu">
          <form role="search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="{{'Callsign 2' | translate}}" formControlName="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="submitForm()">{{'Search' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="py-4 d-flex justify-content-center">
      <button *ngIf='qualifiesForDiploma()' class="btn btn-outline-success" (click)="genPdf()">{{'Download Diploma' | translate}}</button>
    </div>

    <p *ngIf="loaded && !QSOs?.length"><em>{{'No entries...' | translate}}</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="QSOs.length">
      <thead>
        <tr>
          <th>{{'Callsign 1' | translate}}</th>
          <th>{{'Callsign 2' | translate}}</th>
          <!--<th>RST1</th>
        <th>RST2</th>-->
          <th>{{'Mode' | translate}}</th>
          <th>{{'Band' | translate}}</th>
          <th>{{'Timestamp' | translate}}</th>
          <th>{{'Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let QSO of QSOs
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count,
                  id :'adminqsos'
                };
          let i = index">
          <td>
            <span *ngIf="!QSO.editable">{{QSO.callsign1}}</span>
            <input type="text" class="form-control" [(ngModel)]="QSO.callsign1" *ngIf="QSO.editable" />
          </td>
          <td>
            <span *ngIf="!QSO.editable">{{QSO.callsign2}}</span>
            <input type="text" class="form-control" [(ngModel)]="QSO.callsign2" *ngIf="QSO.editable" />
          </td>
          <td>
            <span *ngIf="!QSO.editable">{{QSO.mode}}</span>
            <input type="text" class="form-control" [(ngModel)]="QSO.mode" *ngIf="QSO.editable" />
          </td>
          <td>
            <span *ngIf="!QSO.editable">{{QSO.band}}</span>
            <input type="text" class="form-control" [(ngModel)]="QSO.band" *ngIf="QSO.editable" />
          </td>
          <td>
            <span *ngIf="!QSO.editable">{{QSO.timestamp}}</span>
            <input type="text" class="form-control" [(ngModel)]="QSO.timestamp" *ngIf="QSO.editable" />
          </td>
          <td>
            <i class="bi bi-trash" (click)="delete(QSO)"></i>
            <i *ngIf="!QSO.editable" class="bi bi-pen" (click)="editQSO(QSO)"></i>
            <i *ngIf="QSO.editable" class="bi bi-floppy" (click)="saveQSO(QSO)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls id="adminqsos" previousLabel="Prev"
                           nextLabel="Next"
                           (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>

</div>

