<app-responsive-toolbar *ngIf="event" [event]="event" (setGridColumns)="toggleGridColumns()">
</app-responsive-toolbar>
<!--<a routerLink="top">top</a>
<a [routerLink]="['live']">live</a>-->
<div class="mat-elevation-z8 page-header" *ngIf="event">
  <mat-tab-group dynamicHeight (selectedTabChange)="tabClick($event)">
    <mat-tab label="{{event.name}}">

      <div class="tab-content-wrapper">
        <mat-card class="event-card">
          <mat-card-header>
            <mat-card-title>{{ event.name }}</mat-card-title>
            <mat-card-subtitle>{{ 'AmateurRadioEvent' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="details-section">
              <!-- Date and Location side-by-side using CSS Flexbox -->
              <div class="detail-item">
                <mat-icon color="primary">event</mat-icon>
                <span>
                  <strong>{{ 'Start' | translate }}:</strong> {{ event.startDate | date: 'full' }} <br>
                  <strong>{{ 'End' | translate }}:</strong> {{ event.endDate | date: 'full' }}
                </span>
              </div>

              <div class="detail-item">
                <mat-icon color="primary">location_on</mat-icon>
                <span>Timisoara KQT Club</span>
              </div>
            </div>

            <mat-divider></mat-divider>

            <p class="description" [innerHTML]="sanitizedDescription"></p>

            <mat-divider></mat-divider>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ 'QSOInformation' | translate }}</mat-panel-title>
                <mat-panel-description>{{ 'ContestSummary' | translate }}</mat-panel-description>
              </mat-expansion-panel-header>
              <p class="description">
                {{'Count' | translate}}: {{event.count}}
              </p>
              <p class="description">
                {{'Unique' | translate}}: {{event.unique}}
              </p>
            </mat-expansion-panel>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="accent">{{ 'ParticipateNow' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!--<form role="search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="{{'Callsign 2' | translate}}" formControlName="search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="submitForm()" [attr.disabled]="searchIsValid()?null:true">{{'Search' | translate}}</button>
      </div>
    </div>
  </form>-->

      <!--<div class="card trow btn btn-outline-success" style="width: 18rem;" *ngIf='qualifiesForDiploma()' (click)="genPdf()">
    <div class="card-body">
      <h5 class="card-title">{{'Download Diploma' | translate}}</h5>
      <div class="form-check">
        <input class="form-check-input mycheckbox" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          {{'At least 1 QSO' | translate}}
        </label>
      </div>
    </div>
  </div>-->

      <!--<p class="page-description" [innerHTML]="sanitizedDescription"></p>-->

      <!--<mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-date-range-picker #picker></mat-date-range-picker>-->

      <!--<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
    </mat-tab>


    <mat-tab label="{{ 'Rules' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">rule</mat-icon>{{ 'Rules' | translate}}</ng-template>
      <mat-expansion-panel [expanded]="true" *ngIf="event">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'ContestRules' | translate }}</mat-panel-title>
          <mat-panel-description>{{ 'ContestRulesDescription' | translate }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="description" [innerHTML]="sanitizedRules"></div>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="{{ 'Logs' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">notes</mat-icon>{{ 'Logs' | translate}}</ng-template>
      <table id="logs" mat-table [dataSource]="logs" class="mat-elevation-z8 page-table">
        <!-- Name Column -->
        <!--<mat-text-column name="callsign1"></mat-text-column>-->

        <ng-container matColumnDef="callsign1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Callsign 1' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.callsign1}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="callsign2">
          <th mat-header-cell *matHeaderCellDef>{{'Callsign 2' | translate}}</th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.callsign2"></td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef>{{'Mode' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.mode}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="band">
          <th mat-header-cell *matHeaderCellDef>{{'Band' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.band}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>{{'Timestamp' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.timestamp | date:'medium'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="{{ 'Rankings' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">star</mat-icon>{{ 'Rankings' | translate}}</ng-template>
      <table id="top" mat-table [dataSource]="top" class="mat-elevation-z8 page-table">
        <!-- Name Column -->
        <!--<mat-text-column name="callsign1"></mat-text-column>-->

        <ng-container matColumnDef="callsign1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Callsign 1' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.callsign}}</td>
        </ng-container>

        <!-- Count Column -->
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>{{'Count' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.count}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef>{{'Mode' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.mode}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="band">
          <th mat-header-cell *matHeaderCellDef>{{'Band' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.band}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>{{'Points' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.points}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef>{{'Rank' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.rank}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop;"
            class="element-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="{{ 'Stats' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">insights</mat-icon>{{ 'Stats' | translate}}</ng-template>
      <app-event-stats [eventId]="eventId"></app-event-stats>
    </mat-tab>
  </mat-tab-group>

</div>
