<app-responsive-toolbar *ngIf="event" [event]="event" (setGridColumns)="toggleGridColumns()">
</app-responsive-toolbar>
<!--<a routerLink="top">top</a>
<a [routerLink]="['live']">live</a>-->
<div class="mat-elevation-z8 page-header" *ngIf="event">
  <mat-tab-group dynamicHeight (selectedTabChange)="tabClick($event)">
    <mat-tab label="{{event.name}}">

      <div class="tab-content-wrapper">
        <mat-card class="event-card">
          <mat-card-header>
            <mat-card-title>{{ event.name }}</mat-card-title>
            <mat-card-subtitle>Amateur Radio Event</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="details-section">
              <!-- Date and Location side-by-side using CSS Flexbox -->
              <div class="detail-item">
                <mat-icon color="primary">event</mat-icon>
                <span>
                  **Start:** {{ event.startDate | date: 'full' }} <br>
                  **End:** {{ event.endDate | date: 'full' }}
                </span>
              </div>

              <div class="detail-item">
                <mat-icon color="primary">location_on</mat-icon>
                <span>Timisoara KQT Club</span>
              </div>
            </div>

            <mat-divider></mat-divider>

            <p class="description" [innerHTML]="event.description"></p>

            <mat-divider></mat-divider>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title> QSO Information</mat-panel-title>
                <mat-panel-description> This is a summary of the contest </mat-panel-description>
              </mat-expansion-panel-header>
              <p class="description">
                {{'Count' | translate}}: {{event.count}}
              </p>
              <p class="description">
                {{'Unique' | translate}}: {{event.unique}}
              </p>
            </mat-expansion-panel>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="accent">Participate Now</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!--<form role="search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="{{'Callsign 2' | translate}}" formControlName="search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="submitForm()" [attr.disabled]="searchIsValid()?null:true">{{'Search' | translate}}</button>
      </div>
    </div>
  </form>-->
      <!--<div class="card trow btn btn-outline-success" style="width: 18rem;" *ngIf='qualifiesForDiploma()' (click)="genPdf()">
    <div class="card-body">
      <h5 class="card-title">{{'Download Diploma' | translate}}</h5>
      <div class="form-check">
        <input class="form-check-input mycheckbox" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          {{'At least 1 QSO' | translate}}
        </label>
      </div>
    </div>
  </div>-->
      <!--<p class="page-description" [innerHTML]="sanitizedDescription"></p>-->
      <!--<mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-date-range-picker #picker></mat-date-range-picker>-->
      <!--<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
    </mat-tab>


    <mat-tab label="{{ 'Rules' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">rule</mat-icon>{{ 'Rules' | translate}}</ng-template>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Contest rules</mat-panel-title>
          <mat-panel-description> Those are the rules of the content </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>Special award for celebrating 20 years of QSO BANAT Timisoara Ham Radio Association

        Organizers:

        QSO BANAT Ham Radio Association Timisoara

        Purpose:

        For celebrating 20 years of QSO BANAT Timisoara Ham Radio Association please contact our special call YP20KQT.

        Who can participate?

        Each and every ham radio with a valid license, who accepts the present set of rules.

        Contest days:

        1st of  December 2023 - 31th of  December 2023

        Frequencies:

        All radio amateur bands in the segments corresponding to the working mode.

        Modes:

        SSB /CW /Digi modes.

        Valid QSOs:

        Each callsign may be worked daily once per mode per band.

        Scoring:

        Total Points = Total number of QSO`s  X Total number of  Modes X Total number of Band`s.

        Award`s

        Awards can be downloaded from: www.hamevent.eu starting with 1st of January 2024!

        During month of December, you can see Event Top here: EVENT TOP

        Live Stream : ClubLog  & Hamevent.eu

        ****************************************************************



        YP20KQT

        Eveniment special cu ocazia celebrării a 20 ani de existență a Asociației QSO BANAT Timișoara



        Organizator:

        Asociația QSO Banat Timișoara – Radioclubul YO2KQT

        Cine poate participa?

        Orice radioamator cu autorizație validă, care acceptă regulile evenimentului.

        Perioada de desfășurare:

        1 Decembrie 2023 - 31 Decembrie 2023

        Frecvențe:

        Toate benzile de radioamatori în segmentele corespunzătoare modului de lucru

        Mod:

        SSB / CW / Digitale

        QSO-uri :

        Se puncteaza QSO-urile cu indicativul YP20KQT.

        Se poate lucra în fiecare zi o singură dată pe fiecare combinație de bandă/mod.

        Punctaj:

        Scor Total = Nr total de QSO-uri X Nr total de moduri X Nr total de benzi

        Diplome

        Diplomele pot fi descărcate de la adresa : www.hamevent.eu începând cu data de 1 ianuarie 2024

        Pe toată durata evenimentului clasamentul poate fi urmărit aici: LINK

        Live Stream : ClubLog  & Hamevent.eu</pre>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="{{ 'Logs' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">notes</mat-icon>{{ 'Logs' | translate}}</ng-template>
      <table id="logs" mat-table [dataSource]="logs" class="mat-elevation-z8 page-table">
        <!-- Name Column -->
        <!--<mat-text-column name="callsign1"></mat-text-column>-->

        <ng-container matColumnDef="callsign1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Callsign 1' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.callsign1}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="callsign2">
          <th mat-header-cell *matHeaderCellDef>{{'Callsign 2' | translate}}</th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.callsign2"></td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef>{{'Mode' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.mode}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="band">
          <th mat-header-cell *matHeaderCellDef>{{'Band' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.band}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>{{'Timestamp' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.timestamp | date:'medium'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="{{ 'Rankings' | translate}}">
      <ng-template mat-tab-label><mat-icon class="example-tab-icon">star</mat-icon>{{ 'Rankings' | translate}}</ng-template>
      <table id="top" mat-table [dataSource]="top" class="mat-elevation-z8 page-table">
        <!-- Name Column -->
        <!--<mat-text-column name="callsign1"></mat-text-column>-->

        <ng-container matColumnDef="callsign1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Callsign 1' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.callsign}}</td>
        </ng-container>

        <!-- Count Column -->
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>{{'Count' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.count}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef>{{'Mode' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.mode}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="band">
          <th mat-header-cell *matHeaderCellDef>{{'Band' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.band}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>{{'Points' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.points}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef>{{'Rank' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.rank}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop;"
            class="element-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>

</div>
