<mat-toolbar color="primary">
  <img class="hamware-logo" src="static/radio-icon.png" alt="hamware logo" />
  <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>-->
  <a mat-button routerLink="/">{{'HamEvent' | translate}}</a>
  <span class="example-spacer"></span>
  <!--<button mat-button (click)="changeSiteLanguage('en')">EN</button>
  <button mat-button (click)="changeSiteLanguage('es')">ES</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->

  <app-language-selector class="lang-sel"></app-language-selector>
</mat-toolbar>
