<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"  [routerLink]="['/']">{{'HamEvent' | translate}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnavbar"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topnavbar">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">{{siteLanguage}}</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <ng-container *ngFor="let language of languageList">
              <li>
                <a class="dropdown-item"
                   (click)="changeSiteLanguage(language.code)">
                  {{ language.label }}
                </a>
              </li>
            </ng-container>
          </ul>
        </li>

     
      </ul>
    </div>
  </div>
</nav>
