.page-component {
  margin: 20px;
}

.page-table {
  margin-top: 20px;
}

.page-header {
  margin: 16px 0;
  border-radius: 12px;
  border: 1px solid #c4c6d0;
  padding: 16px;
}

.page-description {
  margin: 16px 0;
}
